/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    font-family: 'Roboto Mono', monospace;
}

.links {
    margin: 4rem;
    text-align: center;
}

.links li {
    display:inline-block;
    margin: 0 4rem;
    border: 0px solid black;
    color:white;
    padding: .7rem 3rem;
    border-radius: 15px;
    font-size: .8rem;
}

#plan {
    background-color: #FF764E;
}

#learn {
    background-color: #5ED3EB;
}

#get {
    background-color: #FFCD69;
}



#pictureandheader img {
    width: 11rem;
    border-radius: 6rem;
    float: left;
    margin: 0 1rem 0 4rem;
}

#pictureandheader {
    width: 100vw;
    display: inline-block;
    text-align: center;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
}

h2 {
    font-size: .8rem;
}

#pictureandheader h1, #pictureandheader h2 {
    margin: 1.5rem;
}

.textbox {
    background-color: #DDB9A3;
    margin: 2rem 2rem;
    padding:1rem;
    color:white;
    text-align: center;
}

.icons {
    text-align: center;
    margin: 0 0 4rem;
}

.icons img {
    width: 6rem;
}

p {
    font-size: .7rem;
    margin: 0 36vw;
}

.bold {
    font-weight: bold;
}



.imageholder img {
    width: 100vw;
    max-height: 22vh;
    object-fit: cover;
    object-position: 0 0;
}

.footer {
    background-color: #F9E7DC;
}

.footer .links li {
    margin: 0rem 3rem 2.5rem;
}